@page
@model Projekt_Biblioteka.Pages.BookList.IndexModel
@{
    byte[] value;
    if(HttpContext.Session.TryGetValue("UserLogin", out value))
    {
        string login = System.Text.Encoding.UTF8.GetString(value);
        if (login.Equals("admin"))
        {
        }
        else
        {
            Response.Redirect("UserBookList/Index");
        }
    }
    else
    {
        Response.Redirect("Login");
    }

}

<body>

    <br />

    <div class="container row p-0 m-0">
        <div class="col-9">
            <h2 class="text-info"></h2>
        </div>
        <div class="col-2">
            <a asp-page="Create" class="btn btn-info form-control text-white">Dodaj książkę</a>
        </div>

        <div class="col-6">
            <h4 style="text-align: center; color: red;">@Model.Error</h4>
        </div>

        <div class="col-12 border p-3 mt-3">
            <form method="post">
                @if (Model.Books.Count() > 0)
                {
                    <table class="table table-striped border">
                        <tr class="table-secondary">
                            <th>
                                <label>Tytuł</label>
                            </th>
                            <th>
                                <label>Autor</label>
                            </th>
                            <th>
                                <label>ISBN</label>
                            </th>
                            <th>
                                <label>Numer wewnętrzny</label>
                            </th>
                            <th>
                                <label>Czy wypożyczona</label>
                            </th>
                            <th>

                            </th>
                        </tr>
                        @foreach (var item in Model.Books)
                        {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Author)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.ISBN)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.LibraryNumber)
                        </td>
                        <td>
                            @foreach (var borrowed in Model.BorrowedBooks)
                            {
                                @if (borrowed.BookId.Equals(item.Id))
                                {
                                    <p>Tak</p>
                                }
                                else
                                {
                                    <p>Nie</p>
                                }
                            }
                        </td>
                        <td>
                            <button asp-page-handler="Delete" asp-route-id="@item.Id" onclick="return confirm('Czy na pewno chcesz usunąć książkę?')" class="btn btn-danger btn-sm">Usuń</button>
                            <button asp-page-handler="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm text-white">Edytuj</button>
                        </td>
                    </tr>
                        }
                    </table>
                }
                else
                {
                    <p>Brak książek w bibliotece</p>
                }
            </form>
        </div>
    </div>

</body>